* {
	border: 0;
	padding: 0;
	margin: 0;
}
$trans: .5s ease-in-out;
body {
	min-height: 100vh;
}
.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: center;
}
.black {
	background-color: black;
}
.gallery {
	width: 80vw;
	height: 60vh;
	background-color: transparent;
	display: flex;
	gap: 1em;
	.img {
		flex: 1;
		background-size: cover;
		background-position: center;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		border-radius: 3em;
		cursor: pointer;
		transition: flex $trans;
	}
	.text {
		position: absolute;
		color: white;
		font-size: 2rem;
		bottom: .5em;
		font-family: sans-serif;
		white-space: nowrap;
		opacity: 0;
		transition: opacity $trans;
	}

	.active {
		flex: 10;
		.text {
			opacity: 1;
		}
	}
}
@media screen and (max-width: 550px) {
	.gallery {
		flex-direction: column;
		height: 95%;
		width: 90%;
	}
}
